.scrollable-list {
  max-height: 90vh;
  overflow-y: auto;
}

.mat-mdc-card-header-text {
  width: 100%;
}

.btn-space {
  margin-right: 10px;
}

.header-container {
  display: flex;
  align-items: center;
}

.left-align {
  margin-right: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

.results-align {
  display: flex;
  justify-content: center;
}

.results-align strong {
  margin-left: 15px;
  margin-right: 5px;
}
